<form>
    <div class="form-title">Wprowadź dane logowania:</div>
    <div class="mb-3">
        <label class="form-label">Login</label>
        <input class="form-control" [(ngModel)]="userForLogin.userName" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
        <label class="form-label">Hasło</label>
        <input class="form-control" [(ngModel)]="userForLogin.password" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="btn btn-primary no-trans to-bottom" (click)="onSubmit()">Lognij</button>
</form>