<mat-tab-group class="szmata">
    <mat-tab label="Expienie">
        <ng-template matTabContent>
            <div class="content">
                <pm-exp></pm-exp>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Sellanie">
        <ng-template matTabContent>
            <div class="content">
                <pm-sellitem></pm-sellitem>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Backpack">
        <ng-template matTabContent>
            <div class="content">
                <pm-backpack></pm-backpack>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>